body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #b478297c;
}

.instructions {
    margin: 10px;
}

#container {
    display: grid;
    border-color: black;
    border: 0px;
    margin: 30px auto;
    max-height: 490px;
    max-width: 500px; 
    background-color: white;
}

.button-container {
    margin: 20px;
}

button {
    transition: .8s;
    height: 30px;
    width: 70px;
    margin-right: 10px;
    transform: scale(.95)
}

select {
    padding: 5px;
    transform: scale(.95);
    margin-right: 0px;
    transition: .8s;
}

button:hover, select:hover {
    background-color: white;
    color: black;
    transform: scale(1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

button:active, .active {
    background-color: white;
    color: black;
    transform: scale(1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

label {
    margin-left: 5px;
    margin-right: 5px;
}



.footer { 
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}