body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgb(88, 30, 247), rgb(226, 169, 83));
}

.header {
    color: whitesmoke;
}

.instructions {
    margin: 10px;
    color: white;
}

.button-container {
    margin: 10px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    max-width: 400px; */
}

button {
    transition: .8s;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    transform: scale(.95);
    border-radius: 50%;
    border: 1px solid white;
}

select {
    padding: 5px;
    transform: scale(.95);
    margin-right: 0px;
    transition: .8s;
    border: 1px solid white;
    
}

button:hover, select:hover {
    background-color: white;
    color: black;
    transform: scale(1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

button:active, .active {
    background-color: white;
    color: black;
    transform: scale(1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

label {
    margin-left: 5px;
    margin-right: 5px;
}

#container {
    display: grid;
    border-color: black;
    border: 0px;
    margin: 20px auto;
    max-height: 490px;
    max-width: 500px; 
    background-color: white;
}

.footer { 
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}