.square {
    background-color: #000;
    width: 2vw;
    height: 2vw;
    /* padding: 1em; */
    position: absolute;
    left: 20px;
    top: 20px;   
    transition: background-color 100s ease-in;
}

.square:hover {
    animation: myFirst 1s 1;

}



@keyframes myFirst {
    0%      {background:black;}
    25%     {background:wheat;}
    75%     {background:wheat;}
    100%    {background:lightsalmon;}
}
